<html>
	<head>
		<title>Let's try this</title>
	</head>
	<body>
		<div>
			<h1><a href="">Julis Versuch</a></h1>
		</div>

		<div>
			<p>published: 24.09.2016, 14:45</p>
			<h2><a href="">My first post</a></h2>
			<p>Langsam verstehe ich, was ich hier mache. HTML ftw!</p>
		</div>

		<div>
			<p>published: 24.09.2016, 14:55</p>
			<h2><a href="">My second post</a></h2>
			<p>Aber mühsam ist das schon. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
		</div>
	</body>
</html>